{% extends "base.html.twig" %}

{% block body %}

    <h1>Bienvenue chez DiayemaDiayema</h1>

    <p>Du choix, du frais, de la qualité :<br>
        Retrouvez vos marques préférées et des milliers de produits</p>

    <p>Du temps pour vous :<br>
        Optimisez votre temps et choisissez quand vous récupérez vos courses</p>

    <p>Des promotions tous les jours :<br>
        Profitez de votre cagnotte et avantages fidélité comme en magasin</p>

{% endblock %}
